/* BODY AND SECTIONS */
/* ----------------------------------------------------- */
/* All body and section styling available here (except for the fonts, which are declared in the defaults+fonts.css). Some properties have already been declared */

body {
  padding: 40px 10%;
  background-color: rgb(235, 235, 235) ;  
}

section {
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
}

section > h2 {
text-align: center;
line-height: 1;
border-bottom: 1px solid black;
padding-bottom: 8px;
}

section > em {
display: block;
margin: 8px 0;
text-align: center;
}

section > div {padding: 10px;}


#s6 > div {background-color: #B298DC;}
#s7 > div {background-color: #BDC696;}






/* SECTION 1 */
/* ----------------------------------------------------- */

#s1 div {
  background-color: red;
  column-count: 3;
}
@media screen and (max-width: 1024px) and (min-width:600px){
#s1 span {
  background-color: blue;
  mix-blend-mode: difference;
}

#s1 > div > p {
  margin: 0;
  font-size: 16px;
}

#s1 > div {
  background-color: lightgoldenrodyellow;
  column-count: 2;
}

}
@media screen and (max-width:600px){
  #s1 span {
    background-color: rgb(232, 72, 165);
    mix-blend-mode: difference;
  }
  
  #s1 > div > p {
    margin: 0;
    font-size: 14px;
  }
  
  #s1 > div {
    background-color: rgb(52, 190, 142);
    column-count: 1;
  }
  }
/* SECTION 2 */
/* ----------------------------------------------------- */
@media screen {


  :root{
    --parent-div:70vh;
    --child-div:40px;


  }
  
#s2 > div {
  background-color: #CDEAC0;
  height: var(--parent-div);
}
 #s2>div:first-child{
  height: var(--child-div);
  background-color: #B298DC;
 }

 #s2>:last-child{
  height: calc(70vh- 80px);
  background-color: #FF5964;
 }

 @media screen AND (max-width:1024px) AND (min-width: 600px){

  #s2>div :first-child {
    height:auto;
    background-color: aqua;
  }
  
  #s2>div:last-child{
    height: auto;
    background-color: yellow;
  }
  #s2>div :nth-of-type(2){
    background-color: rgb(114, 92, 173);
  }
 }

 @media screen AND (max-width:600px) {
  #s2>div:first-child{
    height: auto;
    background-color: rgb(50, 216, 61);
  }

  #s2>div:last-child{
    height: auto;
    background-color: cadetblue;
  }

  #s2>div :nth-of-type(2){
    background-color: chocolate;
  }
}
 



#s2 > div > div {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}


}

/* SECTION 3 */
/* ----------------------------------------------------- */

#s3 > div {
  background-color: #FF5964;
  display: flex;
  
  
}

#s3 > div > div {
  width: 400px;
  background-color: white;
  margin: 10px;;
}

@media screen and (max-width: 1024px) and (min-width: 600px){

  #s3 div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
  }
  
  #s3 div div:nth-of-type(1){
    background-color: #3a1f66;
  }
  
  #s3 div div:nth-of-type(2){
    background-color: #906fc5;
  }
  
  #s3 div div:nth-of-type(3){
    background-color: #c2227f;
  }
  #s3 div div:nth-of-type(4){
    background-color: #19e348;
  }
  }
  
  @media screen and (max-width: 600px) {
    
  #s3 div div:nth-of-type(1){
    background-color: #786497;
    width: 44%;
  }
  
  #s3 div div:nth-of-type(2){
    background-color: #14a133;
    width: 44%;
  }
  
  #s3 div div:nth-of-type(3){
    background-color: #74afea;
    width: 44%;
  }
  #s3 div div:nth-of-type(4){
    background-color: #8089d1;
    width: 44%;
  }
  }
  


/* SECTION 4 */
/* ----------------------------------------------------- */

#s4 > div {
  background-color: #B8F3FF;
}

#s4 > div > div {
  background-color: white;
  margin: 10px;
}



/* SECTION 5 */
/* ----------------------------------------------------- */

#s5 > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#s5 > div > span {
  background-color: #B298DC;
  padding: 10px;
  margin: 10px;
}

#s5 > button {
  padding: 10px;
  background-color: #BDC696;
  font-family: 'FT88', monospace;
  margin: 10px;
  display: none;
}

#box {
 background-color: #B8F3FF;
 padding: 10px;
 /* display: none; */
 visibility: hidden;
 width: 120px;
}

#box > ul {
  margin: 0;
  padding: 10px;
} 


